d:\company\venv\eric_doc\lib\site-packages\IPython\core\interactiveshell.py:3251: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

     cmte_id    cand_id             cand_nm           contbr_nm         contbr_city contbr_st   contbr_zip  ... contb_receipt_amt contb_receipt_dt  receipt_desc memo_cd memo_text form_tp file_num
0  C00410118  P20002978  Bachmann, Michelle     HARVEY, WILLIAM              MOBILE        AL  366010290.0  ...             250.0        20-JUN-11           NaN     NaN       NaN   SA17A   736166
1  C00410118  P20002978  Bachmann, Michelle     HARVEY, WILLIAM              MOBILE        AL  366010290.0  ...              50.0        23-JUN-11           NaN     NaN       NaN   SA17A   736166
2  C00410118  P20002978  Bachmann, Michelle       SMITH, LANIER              LANETT        AL  368633403.0  ...             250.0        05-JUL-11           NaN     NaN       NaN   SA17A   749073
3  C00410118  P20002978  Bachmann, Michelle    BLEVINS, DARONDA             PIGGOTT        AR  724548253.0  ...             250.0        01-AUG-11           NaN     NaN       NaN   SA17A   749073
4  C00410118  P20002978  Bachmann, Michelle  WARDENBURG, HAROLD  HOT SPRINGS NATION        AR  719016467.0  ...             300.0        20-JUN-11           NaN     NaN       NaN   SA17A   736166

[5 rows x 16 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536041 entries, 0 to 536040
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   cmte_id            536041 non-null  object
 1   cand_id            536041 non-null  object
 2   cand_nm            536041 non-null  object
 3   contbr_nm          536041 non-null  object
 4   contbr_city        536026 non-null  object
 5   contbr_st          536040 non-null  object
 6   contbr_zip         535973 non-null  object
 7   contbr_employer    525088 non-null  object
 8   contbr_occupation  530520 non-null  object
 9   contb_receipt_amt  536041 non-null  float64
 10  contb_receipt_dt   536041 non-null  object
 11  receipt_desc       8479 non-null    object
 12  memo_cd            49718 non-null   object
 13  memo_text          52740 non-null   object
 14  form_tp            536041 non-null  object
 15  file_num           536041 non-null  int64
dtypes: float64(1), int64(1), object(14)
memory usage: 65.4+ MB

In [5]:

data.head()

              cand_nm           contbr_nm contbr_st        contbr_employer      contbr_occupation  contb_receipt_amt contb_receipt_dt
0  Bachmann, Michelle     HARVEY, WILLIAM        AL                RETIRED                RETIRED              250.0        20-JUN-11
1  Bachmann, Michelle     HARVEY, WILLIAM        AL                RETIRED                RETIRED               50.0        23-JUN-11
2  Bachmann, Michelle       SMITH, LANIER        AL  INFORMATION REQUESTED  INFORMATION REQUESTED              250.0        05-JUL-11
3  Bachmann, Michelle    BLEVINS, DARONDA        AR                   NONE                RETIRED              250.0        01-AUG-11
4  Bachmann, Michelle  WARDENBURG, HAROLD        AR                   NONE                RETIRED              300.0        20-JUN-11

       contb_receipt_amt
count       5.360410e+05
mean        3.750373e+02
std         3.564436e+03
min        -3.080000e+04
25%         5.000000e+01
50%         1.000000e+02
75%         2.500000e+02
max         1.944042e+06

0         True
1         True
2         True
3         True
4         True
          ...
536036    True
536037    True
536038    True
536039    True
536040    True
Name: contb_receipt_amt, Length: 530314, dtype: bool

                   cand_nm               contbr_nm contbr_st                         contbr_employer                       contbr_occupation  contb_receipt_amt contb_receipt_dt       party
0       Bachmann, Michelle         HARVEY, WILLIAM        AL                                 RETIRED                                 RETIRED              250.0        20-JUN-11  Republican
1       Bachmann, Michelle         HARVEY, WILLIAM        AL                                 RETIRED                                 RETIRED               50.0        23-JUN-11  Republican
2       Bachmann, Michelle           SMITH, LANIER        AL                   INFORMATION REQUESTED                   INFORMATION REQUESTED              250.0        05-JUL-11  Republican
3       Bachmann, Michelle        BLEVINS, DARONDA        AR                                    NONE                                 RETIRED              250.0        01-AUG-11  Republican
4       Bachmann, Michelle      WARDENBURG, HAROLD        AR                                    NONE                                 RETIRED              300.0        20-JUN-11  Republican
...                    ...                     ...       ...                                     ...                                     ...                ...              ...         ...
536036         Perry, Rick  ANDERSON, MARILEE MRS.        XX  INFORMATION REQUESTED PER BEST EFFORTS  INFORMATION REQUESTED PER BEST EFFORTS             2500.0        31-AUG-11  Republican
536037         Perry, Rick      TOLBERT, DARYL MR.        XX                                T.A.C.C.            LONGWALL MAINTENANCE FOREMAN              500.0        30-SEP-11  Republican
536038         Perry, Rick     GRANE, BRYAN F. MR.        XX  INFORMATION REQUESTED PER BEST EFFORTS  INFORMATION REQUESTED PER BEST EFFORTS              500.0        29-SEP-11  Republican
536039         Perry, Rick     DUFFY, DAVID A. MR.        XX            DUFFY EQUIPMENT COMPANY INC.                          BUSINESS OWNER             2500.0        30-SEP-11  Republican
536040         Perry, Rick    GORMAN, CHRIS D. MR.        XX  INFORMATION REQUESTED PER BEST EFFORTS  INFORMATION REQUESTED PER BEST EFFORTS             5000.0        29-SEP-11  Republican

[530314 rows x 8 columns]

Democrat       289999
Republican     234300
Reform           5313
Libertarian       702
Name: party, dtype: int64

contb_receipt_dt  party
01-APR-11         Reform             50.00
                  Republican      12635.00
01-AUG-11         Democrat       182198.00
                  Libertarian      1000.00
                  Reform           1847.00
                                   ...
31-MAY-11         Republican     313839.80
31-OCT-11         Democrat       216971.87
                  Libertarian      4250.00
                  Reform           3205.00
                  Republican     751542.36
Name: contb_receipt_amt, Length: 1183, dtype: float64

                   cand_nm               contbr_nm contbr_st                         contbr_employer                       contbr_occupation  contb_receipt_amt contb_receipt_dt       party
0       Bachmann, Michelle         HARVEY, WILLIAM        AL                                 RETIRED                                 RETIRED              250.0        20-JUN-11  Republican
1       Bachmann, Michelle         HARVEY, WILLIAM        AL                                 RETIRED                                 RETIRED               50.0        23-JUN-11  Republican
2       Bachmann, Michelle           SMITH, LANIER        AL                   INFORMATION REQUESTED                   INFORMATION REQUESTED              250.0        05-JUL-11  Republican
3       Bachmann, Michelle        BLEVINS, DARONDA        AR                                    NONE                                 RETIRED              250.0        01-AUG-11  Republican
4       Bachmann, Michelle      WARDENBURG, HAROLD        AR                                    NONE                                 RETIRED              300.0        20-JUN-11  Republican
...                    ...                     ...       ...                                     ...                                     ...                ...              ...         ...
536036         Perry, Rick  ANDERSON, MARILEE MRS.        XX  INFORMATION REQUESTED PER BEST EFFORTS  INFORMATION REQUESTED PER BEST EFFORTS             2500.0        31-AUG-11  Republican
536037         Perry, Rick      TOLBERT, DARYL MR.        XX                                T.A.C.C.            LONGWALL MAINTENANCE FOREMAN              500.0        30-SEP-11  Republican
536038         Perry, Rick     GRANE, BRYAN F. MR.        XX  INFORMATION REQUESTED PER BEST EFFORTS  INFORMATION REQUESTED PER BEST EFFORTS              500.0        29-SEP-11  Republican
536039         Perry, Rick     DUFFY, DAVID A. MR.        XX            DUFFY EQUIPMENT COMPANY INC.                          BUSINESS OWNER             2500.0        30-SEP-11  Republican
536040         Perry, Rick    GORMAN, CHRIS D. MR.        XX  INFORMATION REQUESTED PER BEST EFFORTS  INFORMATION REQUESTED PER BEST EFFORTS             5000.0        29-SEP-11  Republican

[530314 rows x 8 columns]

cand_nm
Cain, Herman       300.00
Obama, Barack     4205.00
Paul, Ron         2425.49
Santorum, Rick     250.00
Name: contb_receipt_amt, dtype: float64